<h1>Individual User Page, id <%= @user.id %></h1>
<p>
  <strong>Name:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>


<p>
  <%#= image_tag @fabric.swatch_url.to_s %>
</p>


<%= link_to "edit", edit_user_path(@user) %>


