// Place all the styles related to the fabrics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#slider {
	width: 50%;
	margin-left: 2%;
}

.slider {
	border: 0;
	display: none;
}

#slider_display {
	color: #f6931f;
	border: 0;
	font-weight: bold;
}


